<html>
  <head>
    <title>Users | Create</title>
  </head>
  <body>
    <form method="POST" action="/users">
      <label for="username">Username</label>
      <br />
      <input type="text" name="username" />
      <br />

      <label for="password">password</label>
      <br />
      <input type="text" name="Password" />
      <br />

      <button type="submit">submit</button>
    </form>
  </body>
</html>
